{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block extrabody %}
    <div class="container">
        <div class="image-container">
            <img src="/static/images/logo.png" alt="Logo">
        </div>
        <div class="form-container">
            <h1>Iniciar sesión</h1>
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="username-group">
                    <div>
                        {{ form.username.label_tag }}
                    </div>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                        <p style="color:red; text-align: center;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    <div>
                        {{ form.password.label_tag }}
                    </div>
                    {{ form.password }}
                    {% for error in form.password.errors %}
                        <p style="color:red; text-align: center;">{{ error }}</p>
                    {% endfor %}
                </div>
                
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <a href="/register/">¿No tienes una cuenta? Regístrate</a>
                <input type="submit" value="Iniciar sesión">
            </form>
        </div>
    </div>
{% endblock %}