<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap">
</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="/static/images/logo.png" alt="Logo">
        </div>
        <div class="form-container">
            <form action="/login/" method="post">
                {% csrf_token %}
                <h1>Inicio de sesión</h1>
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <a href="/register/">¿No tienes una cuenta? Regístrate</a>
                <input type="submit" value="Iniciar sesión">
            </form>
        </div>
    </div>
</body>

</html>