.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    padding: 20px;
}

.image-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-book img{
    width: 55%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 5px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding-right: 213px;
}

form h1 {
    margin-bottom: 50px;
}

input[type="text"], input[type="number"], select {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container a {
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
}

.error-message-container {
    margin-top: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.datepicker {
    width: 300px; 
    height: 40px; 
    font-size: 16px; 
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .image-book img{
        width: 55%;
        height: auto;
    }
}