{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/books.css' %}">
{% endblock %}

{% block extrabody %}

<div class="message-container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container">
    <div class="text-container">
        <h1>Libros</h1>
    </div>
    <div class="books-container">
        {% for book in books %}
            <div class="book">
                <img src="{{ book.image_link }}" alt="Libro">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
                <button class="button" onclick="window.location.href = '/books/{{book.isbn}}';">Más detalles</button>
            </div>
        {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if books.has_previous %}
            <a href="?page=1">&NestedLessLess; primera</a>
            <a href="?page={{ books.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ books.number }} de {{ books.paginator.num_pages }}
        </span>

        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">siguiente</a>
            <a href="?page={{ books.paginator.num_pages }}">última &NestedGreaterGreater;</a>
        {% endif %}
    </span>
</div>
    
{% endblock %}