{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
    <link rel="stylesheet" href="/static/css/book.css">
{% endblock %}

{% block extrabody %}
    <div class="container">
        <div style="text-align: center;">   
            <h1 style="font-size: 65px;">{{book.title}}</h1>
        </div>

        <div class="wrapper">
            <div class="image-book">
                <img src="{{book.image_link}}" alt="{{book.title}}">
            </div>
            <div>
                <h2>Autor/a: {{book.author}}</h2>
                <h2>Año: {{book.year}}</h2>
                <h2>Nº de páginas: {{book.pages}}</h2>
                <h2>Idioma: {{book.language}}</h2>
                <h2>ISBN: {{book.isbn}}</h2>
                <h2>Género: {{book.genre}}</h2>
                <h2>Descripción: </h2>
                <h3>{{book.description}}</h3>
                <div>
                    <button style="background-color: #343a40;color: white;padding: 10px 20px;margin: 8px 0;border: none;cursor: pointer;width: 30%;" onclick="window.location.href = '/reservations/reservate/{{book.isbn}}';">Reservar libro</button>    
                </div>

            </div>
        </div>

        
        {% if reservations is empty %}
            <h3>El libro está disponible</h3>
        {% else %}
            <h2>Disponibilidad del libro: </h2>
            <div id='calendar'></div>
        {% endif %}

    </div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
        });
        var reservations = JSON.parse('{{ reservations | escapejs }}');
        reservations.forEach(function(reservation) {
            calendar.addEvent({
                title: 'Reservado',
                start: reservation.start_date,
                end: reservation.end_date
            });
        });
        calendar.setOption('height', 650);
        calendar.render();
      });

    </script>
{% endblock %}